<div class="background">
  <img src="https://farm4.staticflickr.com/3211/2814168011_e6bb69cc9e_o.jpg" width="1500" height="1125" alt="IMG_1913"></a>
</div>

<title>CPros | Home</title>
<div class="welcome_text jumbotron">
  <h1><span class = "welcome_header">Welcome to CollegePros</span></h1>
  <p>Follow your favorite college football stars in the pros.  See their stats for the current season and where they rank at their position amongst current NFL players.</p>
</div>

<div class="sign_in_box jumbotron">
  <p>Sign In</p>
  <div class="label_input">
    <%= render 'sessions/form' %>
  </div>
  <p>_______________________</p>
  <p>Don't have an account?</p>
  <a class="btn btn-primary btn-lg sign_up_button" role="button" href="/signup">Sign Up</a></br>
</div>
