<title>CPros | Sign Up</title>

<div class="background">
<img src="https://farm4.staticflickr.com/3657/3463622733_fd8dbf8b3b_o.jpg" width="1750" height="643" alt="University of Alabama Bryant-Denny Stadium Panorama"></a>
</div>

<div class="sign_up_box jumbotron">
  <div class ="sign_up_text">
    <h1>Sign Up</h1>
  </div>
  <div class="label_input">
    <%= render 'users/form' %>
  </div>
</div>

