<title>CPros | Sign Up</title>

<!-- <div class="background">
  <img src="https://farm4.staticflickr.com/3657/3463622733_fd8dbf8b3b_o.jpg" width="2300" height="845" alt="University of Alabama Bryant-Denny Stadium Panorama">
</div> -->
<!--
<div class="sign_up_box jumbotron">
  <div class ="sign_up_text">
    <h1>Sign Up</h1>
  </div>
  <div class="label_input">
    <%# render 'users/form' %>
  </div>
</div>

 -->

<div class="background">
  <img src="https://farm4.staticflickr.com/3657/3463622733_fd8dbf8b3b_o.jpg" width="2300" height="845" alt="University of Alabama Bryant-Denny Stadium Panorama">
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron text-center">
      <h1>Sign Up</h1>
      <%= render 'users/form' %>
    </div>
  </div>
</div>
