<title>CPros | Dashboard</title>

<div class = "player-table">
  <table class="table table-striped info">
    <tr>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>Predicted Fantasy Points</th>
    </tr>
    <% @user.players.each do |favorite_player| %>
      <tr>
        <td><%= favorite_player.name %></td>
        <td><%= favorite_player.team %></td>
        <td><%= favorite_player.position %></td>
        <td><%= favorite_player.predicted_points %></td>
      </tr>
    <% end %>
  </table>
</div>




