<title>CPros | Favorite</title>
<h1>Follow Players from <%= @user.school %></h1>


<!-- sort players by fantasy projected points for the season or next week -->
<% @players.each do |player| %>
  <li><%= player.position %></li>
  <li><%= player.team%></li>
  <li><%= player.name %></li><br/>

<% end %>
